html {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

*::before,
*::after {
  box-sizing: inherit;
}

.app {
  background-color: #f1f1f1;
  font-family: 16px;
  font-family: sans-serif;
  line-height: 1.5em;
}