.body {
  @extend %centerize;
  @include display_flex(column);
  height: 100%;
  background-color: #f1f1f1;
}

.display {
  @include display_flex(column);
  height: 100vh;
  text-align: center;
  justify-content: center;
}