// Contains common CSS stylings that will be used by many components
.d_flex_r{
  @include display_flex(row);
}

.d_flex_c{
  @include display_flex(column);
}

.txt_12 {
  font-size: 12px;
}

.txt_14 {
  font-size: 14px;
}

.font_black {
  color: #000;
}

.font_white {
  color: #fff;
}