// Contains common CSS stylings that will be used by many components

.d_flex_r{
  @include display_flex(row);
}

.d_flex_c{
  @include display_flex(column);
}

.d_abs_c {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.d_abs_r {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.d_block {
  display: block;
}

// TEXT

.txt_12 {
  font-size: 12px;
}

.txt_14 {
  font-size: 14px;
}

.font_black {
  color: #000;
}

.font_white {
  color: #fff;
}

// WIDTH

.wid_100 {
  width: 100%;
}

.wid_inher{
  width: inherit;
}

// BACKGROUNDS

.bg_00 {
  background-color: #000;
}

.bg_dark_b {
  background-color: #170e63;
}

.bg_ff {
  background-color: #fff;
}

// POSITION

.pos_rel {
  position: relative;
}

// Z-INDEX

.z_ind_l1 {
  z-index: 100;
}

// PADDING

.pad_0 {
  padding: 0px;
}

.pad_4 {
  padding: 4px;
}

// BORDER

.bor_1_00 {
  border: 1px solid #000;
}

.bor_1_ff {
  border: 1px solid #fff;
}

.bor_top_none {
  border-top: none;
}

.bor_bot_ff {
  border-bottom: 1px solid #fff;
}
// POINTER

.cur_pointer {
  cursor: pointer;
}