// Contains common CSS stylings that will be used by many components

.d-flex-r{
  @include display-flex(row);
}

.d-flex-c{
  @include display-flex(column);
}

.d-abs-c {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.d-abs-r {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.d-block {
  display: block;
}

// TEXT

.txt-12 {
  font-size: 12px;
}

.txt-14 {
  font-size: 14px;
}

.font-black {
  color: #000;
}

.font-white {
  color: #fff;
}

// WIDTH

.wid-100 {
  width: 100%;
}

.wid-inher{
  width: inherit;
}

// BACKGROUNDS

.bg-00 {
  background-color: #000;
}

.bg-dark-b {
  background-color: #170e63;
}

.bg-ff {
  background-color: #fff;
}

// POSITION

.pos-rel {
  position: relative;
}

// Z-INDEX

.z-ind-l1 {
  z-index: 100;
}

// PADDING

.pad-0 {
  padding: 0px;
}

.pad-4 {
  padding: 4px;
}

// BORDER

.bor-1-00 {
  border: 1px solid #000;
}

.bor-1-ff {
  border: 1px solid #fff;
}

.bor-top-none {
  border-top: none;
}

.bor-bot-ff {
  border-bottom: 1px solid #fff;
}

// MARGINS
.no-margins {
  margin: 0px;
}

// POINTER

.cur-pointer {
  cursor: pointer;
}